.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

nav {
  padding: 0 1rem;
}

.list-wrapper {
  width: 1000px;
  margin: 0px auto;
}
.more {
  width: 50%;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
